{% extends "base.html" %}

{% load static %}

{% block title %}Home - Biblioteca{% endblock%}

{% block content %}

<div class="container text-center">
    <h1 class="mb-4">Bem-vindo à Biblioteca</h1>
    <p class="lead">Gerencie seus livros e empréstimos facilmente.</p>

    <!-- Card com imagem centralizada -->
    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <img src="{% static 'image/bibliotecas.png' %}" class="card-img-top" alt="Biblioteca">
                <div class="card-body">
                    <h5 class="card-title">Explore o conhecimento</h5>
                    <p class="card-text">Navegue pelo nosso acervo e encontre os melhores livros para seus estudos.</p>
                    <a href="{% url 'livros_list' %}" class="btn btn-primary">📚 Ver Livros</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}